body{
    background: black;
    color: white;
    font: normal 20px arial;
}

h1{
    justify-content: center;
}

 nav a{
    text-decoration: none;
    color: white;
 }


 /* esse comando faz com que os pontos flutuantes desapareçam*/
 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
  }
  